---
layout: default
---

<div class="page home">

  <header>
    <h1 class="site-title">{{ site.title }} / a blog about coding and society</h1>
    <p>ethan miller is a developer and historian interested in the intersection of technology, ideas, and scholarship (i.e. <a href="https://twitter.com/hashtag/digitalhumanities">#digitalhumanities</a>). see some of my coding projects <a href="http://github.com/ezmiller">here</a>, some of my historical work <a href="http://fu-berlin.academia.edu/ethanzanemiller">here</a>, and please don't hesitate to get in touch by <a href="mailto:ethanzanemiller@gmail.com">email</a> to share ideas. you can subscribe to my posts here via <a href="{{ "/feed.xml" | prepend: site.baseurl }}">rss</a>.</p>
  </header>

  <div class="posts twelve columns ">
    {% for post in site.posts  %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

        {% if forloop.first %}
        <h2 class="posts-year" id="{{ this_year }}-ref">{{this_year}}</h2>
        <ul class="post-list">
        {% endif %}

        <li>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> 
            <span class="post-meta">{{ post.date | date: "%m/%-d/%Y" }}</span>
          </h2>
        </li>

        {% if forloop.last %}
        </ul>
        {% else %}
            {% if this_year != next_year %}
            </ul>
            <h2 class="posts-year" id="{{ next_year }}-ref">{{next_year}}</h2>
            <ul class="post-list">
            {% endif %}
        {% endif %}
    {% endfor %}
  </div>

  <!-- {% include footer.html %} -->

</div>
