@font-face {
  font-family: 'Rockwell';
  src: url('../fonts/rockwell.eot'); /* IE9 Compat Modes */
  src: url('../fonts/rockwell.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/rockwell.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rockwell.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Rockwell-Bold';
  src: url('../fonts/rockwell-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/rockwell-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/rockwell-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rockwell-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}